Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.in
config.status
configure
doc/cockroach.info
/ABOUT-NLS
/build-aux
/m4
stamp-h1
stamp-h2
.deps
COPYING
INSTALL
*~
config.log
gnulib/*
lib/*
*.o
*.a
po/Makevars
po/POTFILES
po/cockroach.pot
po/stamp-po
doc/stamp-vti
doc/version.texi
src/cockroach
