*.a
*.o
*~
.deps
/ABOUT-NLS
/build-aux
/m4
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.in
config.log
config.status
configure
doc/cockroach.info
doc/stamp-vti
doc/version.texi
gnulib/*
lib/*
po/Makevars
po/POTFILES
po/cockroach.pot
po/stamp-po
src/cockroach
stamp-h1
stamp-h2
src/config.h.in
