/close-stream.c
/close-stream.h
/closeout.c
/closeout.h
/config.charset
/dosname.h
/dummy.c
/errno.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.h
/fcntl.in.h
/fpending.c
/fpending.h
/fstat.c
/getopt.c
/getopt.h
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gnulib.mk
/intprops.h
/localcharset.c
/localcharset.h
/mbrtowc.c
/mbsinit.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/progname.c
/progname.h
/quotearg.c
/quotearg.h
/ref-add.sed
/ref-add.sin
/ref-del.sed
/ref-del.sin
/stat.c
/stdbool.h
/stdbool.in.h
/stddef.h
/stddef.in.h
/stdlib.h
/stdlib.in.h
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.h
/string.in.h
/sys
/sys_stat.h
/sys_stat.in.h
/time.h
/time.in.h
/unistd.h
/unistd.in.h
/verify.h
/wchar.h
/wchar.in.h
/wctype.h
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
